:root {
  --clr-primary-500: hsl(179, 65%, 17%);
  --clr-primary-400: hsl(179, 62%, 43%);
  --clr-primary-300: hsl(71, 73%, 54%);
  --clr-neutral-400: hsl(204, 43%, 93%);
  --clr-neutral-300: hsl(218, 22%, 67%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: "Karla", sans-serif;
}
